.desktopItem {
  color: white;
  position: absolute;
  display: inline;
  text-align: center;
  font-size: 12px;
  cursor: default;
  border: 1px solid transparent;
}

.dekstopItemNotSelected {
  &:hover {
    background-color: #ffffff2c;
  }
}

.dekstopItemSelected {
  background-color: #ffffff4b;
}