.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;

  .desktopItemContainer {
    color: white;
    position: absolute;
    display: inline;
    text-align: center;
    font-size: 12px;

    &:hover {
      background-color: #1d303d;
      border: 1px solid #566671;
    }
  }

  .selectionBoxOn {
    position: absolute;
    border: 1px solid blue;
    background-color: rgba(255, 0, 0, 0.185);
    z-index: 0;

  }

  .selectionBoxOff {
    position: absolute;
    border: 1px solid blue;
    background-color: red;

  }
}