.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;

  .desktopItemContainer {
    color: white;
    position: absolute;
    display: inline;
    text-align: center;
    font-size: 12px;

    &:hover {
      background-color: #1d303d;
      border: 1px solid #566671;
    }
  }

  .selectionBoxOn {
    position: absolute;
    top: 50px;
    left: 50px;
    border: 1px solid blue;
    background-color: blue;
    width: 100px;
    height: 100px;

  }

  .selectionBoxOff {
    position: absolute;
    top: 50px;
    left: 50px;
    border: 1px solid blue;
    background-color: red;
    width: 100px;
    height: 100px;

  }
}