.window {
  position: absolute;
  z-index: 100;
  background-color: #ced8eb;

  border-radius: 12px;
  border: 2px solid #e0e5ee;
  padding-bottom: 10px;

  .childrenContainer {
    width: 100%;
    height: 90%;
  }

  .header {
    width: 100%;
    height: 30px;
  }

}