.window {
  position: absolute;
  background-color: #ced8eb;
  min-width: 150px;// Defined by const in window.tsx (WINDOW_MIN_WIDTH). SHOULD BE MOVED TO STYLED COMPONENT.
  min-height: 200px; // Defined by const in window.tsx (WINDOW_MIN_HEIGHT).
  border-radius: 8px;

  .centerContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
}

.windowUnfocused {
  box-shadow: 0px 0px 4px 2px #0000002a;
}

.windowFocused {
  box-shadow: 0px 0px 16px 2px #0000003a;
}