.shortcut {
	width: 40px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px 2px;
	border-radius: 4px;
	padding: 2px 4px;

	&:hover {
		background-color: #f8f8f8;
	}
}
