.maximizeOptionModal {
  position: absolute;
  top: 20px;
  right: 5px;
  width: 200px;
  height: 135px;
  border-radius: 6px;
  background-color: #dbe9fbf8;
}

.maximizeIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}