$border-size: 6px;
$corner-length: 8px;
$corner-radius: 8px;
$border-offset: -4px;

.topBorderHeader {
  position: absolute;
  top: $border-offset;
  left: 0px;
  z-index: 10;

  display: flex;
  width: calc(100% + 2px);
  height: $border-size;
  
  .topBorder {
    flex: 1;
    
    &:hover {
      cursor: n-resize;
    }
  }

  .topLeft, .topRight {
    width: $corner-length;
  }

  .topLeft {
    border-top-left-radius: $corner-radius;
  }

  .topRight {
    border-top-right-radius: $corner-radius;
  }

  .topLeft:hover { cursor:se-resize; }

  .topRight:hover { cursor: ne-resize; }
}

.children {
  z-index: 1;
  width: 100%;
  height: 100%;

  position: absolute;
  left: 0;
  top: 0;
}

.centerLeft {
  position: absolute;
  z-index: 10;
  top: 0px;
  left: $border-offset;
  height: calc(100% + 2px);
  width: $border-size;

  display: flex;
  flex-direction: column;

  .leftCenterTop {
    height: $corner-length;
    border-top-left-radius: $corner-radius;
    
    &:hover {
      cursor:se-resize;
    }
  }

  .leftCenterMiddle {
    flex: 1;
  
    &:hover {
      cursor: e-resize;
    }
  }

  .leftCenterBottom {
    height: $corner-length;
    border-bottom-left-radius: $corner-radius;
  }
}

.centerRight {
  z-index: 10;
  position: absolute;
  top: 0px;
  left: calc(100% - 2px);
  height: calc(100%);

  display: flex;
  flex-direction: column;
  width: $border-size;

  .rightCenterTop {
    height:$corner-length;
    border-top-right-radius: $corner-radius;
    
    &:hover {
      cursor: ne-resize;
    }
  }

  .rightCenterMiddle {
    flex: 1;

    &:hover {
      cursor: e-resize;
    }
  }

  .rightCenterBottom {
    height: $corner-length;
    border-bottom-right-radius: $corner-radius;
  }
  
  &:hover {
    cursor: e-resize;
  }
}

.bottomBorder {
  position: absolute;
  bottom: $border-offset;
  left: 0px;
  z-index: 10;
  
  display: flex; 
  width: calc(100% + 2px);
  height: $border-size;

  .bottom {
    flex: 1;
    
    &:hover {
      cursor: n-resize;
    }
  }

  .bottomLeft, .bottomRight {
    width: $corner-length;
  }

  .bottomLeft {
    border-bottom-left-radius: $corner-radius;
  }

  .bottomRight {
    border-bottom-right-radius: $corner-radius;
  }

  .bottomLeft:hover { cursor: ne-resize; }

  .bottomRight:hover { cursor: se-resize; }
}