$border-size: 8px;
$extra-border-padding: 6px;

.topBorderHeader {
  position: absolute;
  top: -$extra-border-padding;
  left: -$extra-border-padding;
  z-index: 10;

  display: flex;
  width: calc(100% + ($extra-border-padding * 2));
  
  .topBorder {
    flex: 1;
    height: $border-size;
    
    &:hover {
      cursor: n-resize;
    }
  }

  .topLeft, .topRight {
    width: 8px;
    height: $border-size;
  }

  .topLeft:hover { cursor:se-resize; }

  .topRight:hover { cursor: ne-resize; }
}

.center {
  position: absolute;
  top: 0px;
  left: -$extra-border-padding;
  z-index: 10;

  display: flex;
  width: calc(100% + ($extra-border-padding * 2));
  height: 100%;

  .centerLeft, .centerRight {
    width: $border-size;

    &:hover {
      cursor: e-resize;
    }
  }
}

.bottomBorder {
  position: absolute;
  bottom: -$extra-border-padding;
  left: -$extra-border-padding;
  z-index: 10;
  
  display: flex; 
  width: calc(100% + $extra-border-padding * 2);

  .bottom {
    flex: 1;
    height: $border-size;
    
    &:hover {
      cursor: n-resize;
    }
  }

  .bottomLeft, .bottomRight {
    width: 8px;
    height: $border-size;
  }

  .bottomLeft:hover { cursor: ne-resize; }

  .bottomRight:hover { cursor: se-resize; }
}