$unselected-color: rgb(121, 118, 118);

.header {
  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;

  .headerInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4px;

    .icon {
      margin-right: 4px;
    }
  
    .text {
      font-family: 'Segoe UI';
      font-size: small;
    }
  }

  

  .moveContainer {
    flex: 1;
    height: 100%;
  }

  .maximize, .minimize, .close {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
  }

  .maximize, .minimize {
    &:hover {
      background-color: #aeb7c7;
    }
  }

  .close {
    border-top-right-radius: 8px;
  }

  .close:hover {
    background-color: #e81123;
  }
}

.windowUnselectedHeader {

  .text {
    color: $unselected-color;
  }

  .maximize, .minimize, .close {
    color: $unselected-color;
  }
}