$unfocused-color: rgb(121, 118, 118);

.maximizeOptionModal {
  position: absolute;
  top: 20px;
  right: 5px;
  width: 200px;
  height: 135px;
  border-radius: 6px;
  background-color: #dbe9fbf8;
}

.header {
  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;
  
  .icon {
    margin-right: 4px;
  }

  .textContainer {
    flex: 1;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    min-width: 50px;
    font-size: small;
    overflow: hidden;
    white-space: nowrap;
  }

  .maximizeContainer, .minimizeIcon, .closeIcon {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
  }

  .maximizeContainer, .minimizeIcon {
    &:hover {
      background-color: #aeb7c7;
    }
  }

  .maximizeIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .closeIcon {
    border-top-right-radius: 8px;
  }

  .closeIcon:hover {
    background-color: #e81123;
  }
}

.windowUnfocusedHeader {

  .textContainer {
    color: $unfocused-color;
  }

  .maximizeIcon, .minimizeIcon, .closeIcon {
    color: $unfocused-color;

    &:hover {
      color: black;
    }
  }
}